{% extends "base.html" %}

{% block title %}Новая задача{% endblock %}

{% block content %}
    <h1>Новая задача</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Заголовок задачи:</label><br/>
        <input type="text" name="title" required/><br/>
        <label>Описание задачи:</label><br/>
        <textarea name="description" required></textarea><br/>
        <label>Статус задачи:</label><br/>
        <select name="status">
            <option selected value="new">Новая</option>
            <option value="in_progress">В процессе</option>
            <option value="done">Сделано</option>
        </select><br/>
        <label>Дата выполнения:</label><br/>
        <input type="date" name="completion_date"/><br/>
        <br/>
        <input type="submit" value="Создать"/>
    </form><br/>
    <a href="{% url "index" %}">На главную</a>
{% endblock %}