{% extends "base.html" %}
{% load static %}

{% block title %}Задача {{ task.pk }}{% endblock %}

{% block content %}
    <h3>Заголовок задачи:</h3>
    <p>
        {{ task.title }}
    </p>
    <h3>Описание задачи:</h3>
    <p>
        {{ task.description }}
    </p>
    <h3>Статус задачи:</h3>
    <p>
        {{ task.get_status_display }}
    </p>
    <h3>Дата выполнения:</h3>
    <p>
        {{ task.completion_date|default_if_none:"Бессрочная" }}
    </p>
    <p>
        <a href="{% url "index" %}">На главную</a>
    </p>
    <p>
        <a href="{% url "delete_task" %}">Удалить задачу</a>
    </p>
{% endblock %}