<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Задача</title>
</head>
<body>
    <h3>Описание задачи:</h3>
    <p>
        {{ task.description }}
    </p>
    <h3>Статус задачи:</h3>
    <p>
        {{ task.status }}
    </p>
    <h3>Дата выполнения:</h3>
    <p>
        {{ task.completion_date }}
    </p>
    <p>
        <a href="/">На главную</a>
    </p>
    <p>
        <a href="/tasks/delete/">Удалить задачу</a>
    </p>
</body>
</html>